:root {
  // Colors

  --color-primary: #4bad9c;
  --color-secondary: #fff;
  // --color-tertiary: #203239;
  // --color-fourth: #141e27;

  --color-text: #999;
  --color-text-dark: #000;

  // Font Size

  // Font Weight
  --weight-normal: 500;
  --weight-bold: 700;

  // Border Radius

  --border-small: 0.2rem;
  --border-medium: 0.5rem;

  // Font Family
  --family-default: "Vollkorn", serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: var(--family-default);
  font-weight: 400;

  background-color: #ffe4cb;
}

.main {
  display: flex;
}
