.content {
  width: 100%;
}

.books-section {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  max-width: 200rem;
  padding: 0 2rem;

  &__results {
    max-width: 200rem;
    display: flex;
    position: relative;
    flex-direction: column;

    &__list {
      display: flex;
      gap: 3rem;
      margin: 0 auto;
      position: relative;
    }

    &__book {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: center;
      width: 100%;
      min-height: 36.5rem;

      box-shadow: 0.4rem 0.4rem 5rem rgba(0, 0, 0, 0.05);
      background-color: var(--color-secondary);

      padding: 1rem;
      border-radius: var(--border-small);

      cursor: pointer;
      transition: transform 0.2s;
      overflow: hidden;

      &:hover {
        transform: translateY(-0.5rem);
      }

      &:active {
        transform: translateY(0.5rem);
      }

      // &:hover &__content__title {
      //   // overflow: visible;
      //   // transform: translateY(-2.4rem);
      //   // overflow: visible;

      //   // max-height: 6rem;
      // }

      &__cover {
        height: 24rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &-image {
          width: 15rem;
          // box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.1);
        }
      }

      &__content {
        // display: flex;
        // flex-direction: column;
        // justify-content: flex-end;
        position: relative;

        &__author {
          // text-align: center;
          font-size: 1.4rem;
          // margin-top: 6.4rem;
          margin-bottom: 1.8rem;

          span {
            color: var(--color-text-dark);
            font-weight: var(--weight-normal);
          }
        }

        &__title {
          font-size: 1.6rem;
          font-weight: var(--weight-bold);
          max-width: 15rem;
          // height: 4.4rem;
          margin-top: 2.4rem;

          // position: absolute;

          // &:hover {
          //   overflow: visible;
          // }
        }
      }
    }
  }

  &__focused {
    // display: none;
    // width: 100%;
    gap: 3rem;
    border-radius: var(--border-small);
    // background-color: var(--color-secondary);

    &__container {
      display: flex;
      gap: 3rem;
      // height: 22rem;
      // overflow: hidden;

      &__cover {
        display: flex;
        flex-direction: column;
        &-image {
          min-width: 14rem;
          max-width: 14rem;
          // height: 100%;
          // box-shadow: 0.4rem 0.4rem 5rem rgba(0, 0, 0, 0.2);
          border: 1px solid #000;
        }

        &-cart {
          font-size: 1.8rem;
          margin: 0 auto;
          margin-top: 1rem;
          color: var(--color-secondary);
          border: 1px solid var(--color-primary);
          background-color: var(--color-primary);
          box-shadow: 0.4rem 0.4rem 5rem rgba(0, 0, 0, 0.3);
          padding: 0.5rem 4rem;
          border-radius: var(--border-medium);

          cursor: pointer;

          transition: color 0.2s, background-color 0.2s;

          &:active {
            background-color: var(--color-secondary);
            color: var(--color-primary);
          }
        }
      }

      &__content {
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
        background-color: var(--color-secondary);
        padding: 2rem;
        flex-grow: 1;

        &-title {
          font-size: 2.2rem;
          font-weight: var(--weight-bold);
        }

        &-pages {
          font-size: 1.4rem;
          font-weight: var(--weight-normal);
          // transform: translateY(-0.2rem);
        }

        &-author {
          font-size: 1.4rem;
          margin-top: -1.5rem;
          cursor: pointer;

          span {
            font-weight: var(--weight-bold);
          }
        }

        &-category {
          font-size: 1.4rem;
          margin-top: auto;
          cursor: pointer;
        }

        &-description {
          font-size: 1.5rem;
          color: var(--color-text-dark);
          font-weight: var(--weight-normal);
          line-height: 2.2rem;

          // Hide text that's longer than 5 lines (needed for truncateView.js)
          &-button {
            display: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.loading {
  display: flex;
  align-items: center;

  gap: 2rem;
  height: 36.5rem;

  &__text {
    font-size: 1.8rem;
    white-space: nowrap;
  }

  &__spinner {
    animation: spinner 2s linear infinite;
    height: 3rem;
    width: 3rem;
  }

  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1.8rem auto;
  gap: 3rem;

  &__left {
    white-space: nowrap;
    cursor: pointer;

    &__arrow {
      font-size: 1.8rem;
    }
  }

  &__right {
    white-space: nowrap;
    cursor: pointer;

    &__arrow {
      font-size: 1.8rem;
    }
  }
}

.project__intro {
  text-align: center;
  font-size: 1.4rem;
  color: var(--color-text-dark);

  a:link,
  a:visited {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: var(--weight-bold);
  }
}
