.container {
  background-color: var(--color-secondary);

  max-width: 140rem;
  margin: 0 auto;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.header {
  background-color: var(--color-primary);
  height: 6rem;
  padding: 0 3rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search__nav {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  &__button {
    height: 3rem;
    width: 3rem;

    border: none;

    background-color: var(--color-secondary);

    position: absolute;
    top: 0.1rem;
    left: 0.1rem;

    &__icon {
      font-size: 1.8rem;
      transform: translate(1rem, 1rem);
      color: var(--color-primary);
    }
  }

  &__bar {
    font-style: var(--family-default);
    font-weight: var(--weight-bold);

    // Padding = place where text starts from
    padding-left: 6rem;

    width: 30rem;
    height: 3.8rem;

    border: none;

    background-color: var(--color-secondary);
    color: var(--color-text-dark);

    &::placeholder {
      font-style: var(--family-default);
      font-weight: var(--weight-bold);

      color: var(--color-text-dark);
    }
  }
}

.user-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  margin-left: auto;

  &__cart {
    display: flex;
    align-items: center;
    position: relative;

    font-size: 30px;

    color: var(--color-secondary);

    transition: all 2s;

    &__box {
      padding: 2rem 1rem;
      background-color: var(--color-secondary);
      color: var(--color-text-dark);

      width: 22rem;
      height: 30rem;
      overflow-x: hidden;
      overflow-y: scroll;

      // Relative to __cart;
      position: absolute;
      right: 0;
      top: 110%;

      border: 1px solid #000;
      z-index: 999;

      // Adding display_flex from JS on click
      display: none;
      flex-direction: column;
      gap: 1rem;

      &__container {
        display: flex;
        // flex-direction: column;
        gap: 1.2rem;

        // opacity: 0;
        transition: opacity 0.2s;

        &-cover {
          width: 3rem;
          border: 1px solid #000;
        }

        &__contents {
          display: flex;
          flex-direction: column;

          &-title {
            font-size: 1.4rem;
            font-weight: var(--weight-bold);
            color: var(--color-text-dark);

            max-width: 10rem;
            // overflow: hidden;
            // white-space: nowrap;

            display: flex;
            justify-content: flex-start;

            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }

          &-author {
            font-size: 1rem;
          }
        }

        &-remove {
          font-size: 2rem;
          cursor: pointer;
          margin-left: auto;
          transition: color 0.2s;

          &:hover {
            color: rgb(199, 65, 16);
          }

          &:active {
            color: red;
          }
        }
      }
    }

    &-icon {
      color: var(--color-secondary);
      cursor: pointer;
      font-size: 3.2rem;
    }

    &-icon--active {
      color: orange;
    }

    &-number {
      // Relative to __cart
      position: absolute;
      top: -0.5rem;
      left: 2rem;

      padding: 0.1rem 0.5rem;
      border-radius: 50%;

      background-color: orange;
      color: var(--color-secondary);
      font-size: 1.4rem;

      display: none;
    }
  }
}
