// Toggles class from JS in case text overflows
.line--clamp-5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}

// Toggles class from JS in case text overflows
.line--clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

// Adds display flex to element from JS
.display_flex {
  display: flex;
}

// Main button design
.btn {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;

  background-color: var(--color-secondary);
  color: #fff;
  font-family: var(--family-default);
  font-size: 1.4rem;
  color: var(--color-text-dark);

  box-shadow: 0.4rem 0.4rem 5rem rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-primary);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;

  transition: color 0.2s, background-color 0.2s;

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }
}

.message {
  font-size: 2rem;
  margin: 0 auto;
}
