:root {
  // Colors

  --color-primary: #4bad9c;
  --color-secondary: #fff;
  // --color-tertiary: #203239;
  // --color-fourth: #141e27;

  --color-text: #999;
  --color-text-dark: #000;

  // Font Size

  // Font Weight
  --weight-normal: 500;
  --weight-bold: 700;

  // Border Radius

  --border-small: 0.2rem;
  --border-medium: 0.5rem;

  // Font Family
  --family-default: "Vollkorn", serif;
}

// Sass variables
$bp-large: 75em; // 1200px;
$bp-medium: 62.5em; // 1000px;
$bp-small: 31.25em; // 500px;
