.container {
  background-color: var(--color-primary);
  max-width: 120rem;
  margin: 0 auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
}

.header {
  padding: 0 2.4rem;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.search__nav__button {
  background-color: var(--color-secondary);
  height: 3.8rem;
  width: 3.8rem;
  border: none;
  border-top: 0.1rem solid var(--color-tertiary);
  border-left: 0.1rem solid var(--color-tertiary);
  border-bottom: 0.1rem solid var(--color-tertiary);
  position: absolute;
  top: 0rem;
  left: 0rem;
}

.search__nav__button__icon {
  font-size: 2rem;
  -webkit-transform: translate(1rem, 0.7rem);
          transform: translate(1rem, 0.7rem);
}

.search__nav__bar {
  font-style: var(--family-default);
  font-weight: var(--weight-bold);
  padding-left: 6rem;
  width: 30rem;
  height: 3.8rem;
  border: none;
  border-top: 0.1rem solid var(--color-tertiary);
  border-right: 0.1rem solid var(--color-tertiary);
  border-bottom: 0.1rem solid var(--color-tertiary);
  background-color: var(--color-secondary);
  color: var(--color-text-dark);
}

.search__nav__bar::-webkit-input-placeholder {
  font-style: var(--family-default);
  font-weight: var(--weight-bold);
  color: var(--color-text-dark);
}

.search__nav__bar:-ms-input-placeholder {
  font-style: var(--family-default);
  font-weight: var(--weight-bold);
  color: var(--color-text-dark);
}

.search__nav__bar::-ms-input-placeholder {
  font-style: var(--family-default);
  font-weight: var(--weight-bold);
  color: var(--color-text-dark);
}

.search__nav__bar::placeholder {
  font-style: var(--family-default);
  font-weight: var(--weight-bold);
  color: var(--color-text-dark);
}

.user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-left: auto;
}

.user-nav__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
}

.user-nav__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 30px;
  color: #fff;
}

.user-nav__cart__box {
  padding: 10rem 5rem;
  background-color: var(--color-primary);
  width: 20rem;
  max-height: 50rem;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  top: 110%;
  border: 1px solid #000;
}

.user-nav__cart__box__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
}

.user-nav__cart__box__contents__container {
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.4rem;
}

.user-nav__cart__box__contents__container__product {
  position: relative;
}

.user-nav__cart__box__contents__container__product-title {
  font-size: 1.4rem;
  font-weight: var(--weight-bold);
  color: var(--color-text-black);
  max-width: 10rem;
  overflow: hidden;
  white-space: nowrap;
}

.user-nav__cart__box__contents__container__product-title:hover {
  background-color: #fff;
  max-width: 20rem;
  overflow: visible;
}

.user-nav__cart__box__contents__container__product-author {
  color: var(--color-text-dark);
  max-width: 10rem;
  overflow: hidden;
  white-space: nowrap;
}

.user-nav__cart__box__contents__container-price {
  color: var(--color-text-dark);
}

.user-nav-icon {
  background-color: #000;
}

.sidebar {
  background-color: #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
  min-height: 90rem;
}

.side-nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  font-size: 20px;
  padding: 2rem;
}

.side-nav hr {
  display: hidden;
  position: relative;
}

.side-nav__item {
  color: #000;
}

.side-nav__item-icon {
  margin-left: 1rem;
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
}

.side-footer {
  font-size: 1.2rem;
  padding: 3rem;
  text-align: center;
}

/* - FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
.content {
  width: 100%;
}

.books-section {
  margin-top: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
  max-width: 200rem;
  padding: 0 2rem;
}

.books-section__results {
  max-width: 200rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.books-section__results__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  margin: 0 auto;
  position: relative;
}

.books-section__results__book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
  width: 100%;
  -webkit-box-shadow: 0.4rem 0.4rem 5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0.4rem 0.4rem 5rem rgba(0, 0, 0, 0.1);
  background-color: var(--color-secondary);
  padding: 1rem;
  border-radius: var(--border-small);
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  overflow: hidden;
}

.books-section__results__book:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.books-section__results__book__cover {
  height: 24rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.books-section__results__book__cover-image {
  width: 15rem;
  -webkit-box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.1);
}

.books-section__results__book__content {
  position: relative;
}

.books-section__results__book__content__author {
  font-size: 1.4rem;
  margin-bottom: 1.8rem;
}

.books-section__results__book__content__author span {
  color: var(--color-text-dark);
  font-weight: var(--weight-normal);
}

.books-section__results__book__content__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 5rem;
  font-size: 1.6rem;
  font-weight: var(--weight-bold);
  max-width: 15rem;
  height: 4.4rem;
  margin-top: 2.4rem;
  overflow: hidden;
  -webkit-transition: max-height 0.3s;
  transition: max-height 0.3s;
}

.books-section__focused {
  gap: 3rem;
  border-radius: var(--border-small);
}

.books-section__focused__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

.books-section__focused__container__cover {
  min-width: 14rem;
  max-width: 14rem;
  height: 100%;
  border: 1px solid #000;
}

.books-section__focused__container__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.4rem;
  background-color: var(--color-secondary);
  padding: 2rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.books-section__focused__container__content-title {
  font-size: 2.2rem;
  font-weight: var(--weight-bold);
}

.books-section__focused__container__content-author {
  font-size: 1.4rem;
  margin-top: -1.5rem;
  cursor: pointer;
}

.books-section__focused__container__content-author span {
  font-weight: var(--weight-bold);
}

.books-section__focused__container__content-category {
  font-size: 1.4rem;
  margin-top: auto;
  cursor: pointer;
}

.books-section__focused__container__content-description {
  font-size: 1.5rem;
  color: var(--color-text-dark);
  font-weight: var(--weight-normal);
  line-height: 2.2rem;
}

.books-section__focused__container__content-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  margin-bottom: 3rem;
  background-color: #666;
  margin-right: auto;
  cursor: pointer;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  height: 36.5rem;
}

.loading__text {
  font-size: 1.8rem;
  white-space: nowrap;
}

.loading__spinner {
  -webkit-animation: spinner 2s linear infinite;
          animation: spinner 2s linear infinite;
  height: 3rem;
  width: 3rem;
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.project__intro {
  text-align: center;
  font-size: 1.4rem;
}

.pagination {
  height: 5rem;
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  gap: 3rem;
}

.pagination__left {
  white-space: nowrap;
}

.pagination__right {
  white-space: nowrap;
}

.footer {
  height: 7rem;
  background-color: violet;
  max-width: 120rem;
  margin: 0 auto;
}

:root {
  --color-primary: #ecf6ff;
  --color-secondary: #fff;
  --color-tertiary: #181919;
  --color-text: #c4c4cc;
  --color-text-dark: #727279;
  --color-text-black: #181919;
  --weight-normal: 500;
  --weight-bold: 700;
  --border-small: 0.2rem;
  --family-default: "Vollkorn", serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--family-default);
  font-weight: 400;
  background-color: var(--color-tertiary);
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=main.css.map */